*.DS_Store

audio_amp_TAS6424MS/docs
audio_amp_TAS6424MS/eval_boards

i2c_mux_TCA9548A/docs
i2c_mux_TCA9548A/examples

lcd_display_ILI9341/docs
lcd_display_ILI9341/example_imgs
lcd_display_ILI9341/examples
lcd_display_ILI9341/drivers/stm32/STM32-ILI9341-master_original

light_sensor_SI1133/docs
light_sensor_SI1133/examples
light_sensor_SI1133/pcb_project

temp_humid_sensor_SHT21/docs
temp_humid_sensor_SHT21/examples
temp_humid_sensor_SHT21/pcb_project
